[Unit]
Description=Serve WiFi config webpage
After=hostapd.service

[Service]
Type=simple
ExecStart=/usr/bin/python3 -m http.server 80 --directory /var/www/html
Restart=on-failure

[Install]
WantedBy=multi-user.target
